################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SlicerRT-PatPos
/.vs
/build/x64-Release-VS2019
/out/build
/SlicerRT-PatPos-mine
/CMakeSettings.json
